<div class = "container bg-light my-3 py-5">
  <div class = "row mb-4">
    <h2 class = "d-inline-block text-center w-75 mx-auto border-bottom border-dark">Optickの3つの特徴</h2>
  </div>
  <!--1つ目-->
  <div class = "row px-5 mb-3">
    <div class = "col-5">
      <img class = "d-block mx-auto w-50" src = "assets/about_calendar.png" alt = "calendar">
    </div>
    <div class = "col-7">
      <h4 class = "font-weight-bold">①カレンダーでタスク量を確認できる</h4>
      <p style ="line-height:2rem;">
        カレンダーから自分がこの日どれくらい頑張ったかを確認できます。</br>
        広い範囲での日付検索もできるので、この期間ってどのくらい頑張っていたんだろうというのが見返しやすくなっています。</br>
      </p>
    </div>
  </div>
  <!--2つ目-->
  <div class = "row px-5 mb-3">
    <div class = "col-7">
      <h4 class = "font-weight-bold">②毎日の日課時間を分かりやすく記録できる</h4>
      <p style ="line-height:2rem;">
        1日に行ったタスクを円グラフで表示、これまでのタスク時間を折れ線グラフで表示など日々の記録を彩ってくれます。</br>
        目標設定もできるので、活用することで、よりあなたのタスク管理を有意義にできます！</br>
      </p>
    </div>
    <div class = "col-5">
      <img class = "d-block mx-auto w-50" src = "assets/about_graphs.png" alt = "graphs">
    </div>
  </div>
  <!--3つ目-->
  <div class = "row px-5 mb-3">
    <div class = "col-5">
      <img class = "d-block mx-auto w-50" src = "assets/about_variety.png" alt = "variety">
    </div>
    <div class = "col-7">
      <h4 class = "font-weight-bold">③日常生活だけでなく、学習や仕事にも</h4>
      <p style ="line-height:2rem;">
        日々の生活の日課だけでなく、勉強や仕事の時間管理、娯楽への時間使いすぎ防止など、様々な用途で使えます。</br>
        タスクアイコンは自由にアップロードして使う事ができるので、自分だけのタスク管理サービスにしてお楽しみください！</br>
      </p>
    </div>
  </div>
</div>
