/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


*{
  font-family: 'Franklin Gothic Medium','Yu Gothic UI',sans-serif;
}

body{
	background: rgb(195,255,251);
	background: linear-gradient(90deg, rgba(195,255,251,1) 0%, rgba(154,242,171,1) 27%, rgba(243,249,159,1) 72%, rgba(254,205,189,1) 100%);
}

// ハンバーガーメニュー
.navbar-dark .navbar-toggler{
  border-color: rgba(212, 108, 228, 1);
}
